<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shiphawk>
                <active>0</active>
                <title>Shiphawk Shipping</title>
                <model>Shiphawk\Shipping\Model\Carrier\Shiphawk</model>
                <handling_type>F</handling_type>
                <handling_fee>0</handling_fee>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <debug>0</debug>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </shiphawk>
        </carriers>
    </default>
</config>